/*--fonts---*/ 
// bold
@font-face {
    font-family: 'made_tommybold';
    src: url('../fonts/madetommy_bold-webfont.woff2') format('woff2'),
         url('../fonts/madetommy_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// medium
@font-face {
    font-family: 'made_tommymedium';
    src: url('../fonts/madetommy_medium-webfont.woff2') format('woff2'),
         url('../fonts/madetommy_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// regular
@font-face {
    font-family: 'made_tommyregular';
    src: url('../fonts/madetommy_regular-webfont.woff2') format('woff2'),
         url('../fonts/madetommy_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// light
@font-face {
    font-family: 'made_tommylight';
    src: url('../fonts/madetommy_light-webfont.woff2') format('woff2'),
         url('../fonts/madetommy_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*
    font-family: 'made_tommybold';
    font-family: 'made_tommymedium';
    font-family: 'made_tommyregular';
    font-family: 'made_tommylight';
*/ 

// colors
$orange1: #F15D2A;
$orange2: #F27921;
$orange3: #F9A01B;
$white: #FFFFFF;
$gray1: #EEEEEF;

body {
    font-family: 'made_tommyregular';
    font-size: 14px;
    position: relative;
    color: #222222;
}
.container {
    position: relative;
}
a {    
    text-decoration: none;
    color: #333333;
}
a,
button {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:focus,
    &:visited,
    &:active {
        outline: none;
        box-shadow: none;
    }
}
/*---  ---*/ 
ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.btn {
    &.btn-primary__ic {
        background-color: #F2F2F2;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.1));
        padding: 4px;
        padding-left: 28px;
        display: flex;
        align-items: center;
        width: 180px;
        .btn-icon {
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            margin-left: auto;
            height: 38px;
            width: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $orange2;
            color: $white;
        }
    }
}
/*--- HEADER ---*/ 
header {
    /*--- /Top Header/ ---*/ 
    .header-top {
        position: relative;
        padding: 10px 0;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 65%;
            background-color: $orange1;
        }
        .top-left,
        .top-right .social-links {
            display: flex;
            align-items: center;
            li {
                position: relative;
                margin-left: 30px;
                &:first-child {
                    margin-left: 0;
                }
                a {
                    padding: 6px 0;
                    line-height: normal;
                }
            }
        }
        .top-left {
            li a {
                display:  block;
                color: $white;
                &:hover {
                    color: #333333;
                }
            }
        }
        .top-right {
            .social-links {
                li {
                    color: #333333;
                    &::before {
                        position: absolute;
                        content: '';
                        background: #c1d0e1;
                        width: 1px;
                        height: 22px;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        right: -15px;
                    }
                    &:last-child::before {
                        display: none;
                    }
                    a {
                        display: block;
                        color: #333333;
                        width: 20px;
                        text-align: center;
                        font-size: 15px;
                        &:hover {
                            color: $orange1;
                        }
                    }
                }
            }
        }
    }
    /*--- /Header Upper/ ---*/ 
    .header-upper {
        padding: 24px 0;
        background-color: $gray1;
    }
    .menu-area {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .mobile-nav-toggler {
            position: relative;
            float: right;
            font-size: 40px;
            line-height: 50px;
            cursor: pointer;
            color: #333333;
            display: none;
            .icon-bar {
                position: relative;
                height: 2px;
                width: 30px;
                display: block;
                margin-bottom: 5px;
                background-color: #333333;
                -webkit-transition: all 300ms ease;
                -moz-transition: all 300ms ease;
                -ms-transition: all 300ms ease;
                -o-transition: all 300ms ease;
                transition: all 300ms ease;
            }
        }
        .main-menu {
            float: left;
            .navigation {
                display: flex;
                align-items: center;
                li {
                    margin-right: 1.5rem;
                    a {
                        display: block;
                        font-size: 15px;
                        color: #222222;
                        padding: 2px 8px;
                        position: relative;
                        &::before {
                            position: absolute;
                            content: '';
                            background: $orange1;
                            width: 50%;
                            height: 1px;
                            left: 0;
                            right: 0;
                            margin: auto;
                            bottom: 0;
                            transform: scale(0,0);
                            transition: all 500ms ease;
                        }
                    }
                    &.active a::before,
                    a:hover::before {
                        transform: scale(1,1);
                    }
                    &.active a,
                    a:hover {
                        color: $orange1;
                    }
                }
            }
        }
        .menu-right {
            position: relative;
            float: left;
            padding-left: 1.5rem;
            &::before {
                position: absolute;
                content: '';
                background: #C4C4C4;
                width: 1px;
                height: 50px;
                left: 0;
                top: 0px;
                bottom: 0;
                margin: auto;
            }
            .search-toggler {
                border: none;
                box-shadow: none;
                outline: none;
                font-size: 18px;
                color: #222222;
            }
        }
    }
}
@media (max-width: 991px) {
    header {
        .header-top::before {
            width: 50%;
        }
        .menu-area {
            display: inline-block;
            float: right;
            .mobile-nav-toggler {
                display: block;
                margin-top: 4px;
                margin-left: 20px;
            }
            .main-menu {
                display: none;
            }
            .menu-right {
                padding-left: 0;
                &::before {
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    header {
        .header-top {
            &::before {
                width: 100%;
                height: 50%;
                bottom: auto;
            }
            .top-left, 
            .top-right .social-links {
                justify-content: center;
            }
        }
    }
}
/*--- SECTION ---*/ 
section {
    display: block;
    position: relative;
}
.sec-title {
    .breadcrumb-line {
        position: relative;
        display: inline-block;
        font-size: 17px;
        font-family: 'made_tommymedium';
        color: #666666;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 10px;
        &::before {
            position: absolute;
            content: '';
            width: 45px;
            height: 5px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        &.right {
            padding-right: 55px;
            &::before {
                right: 0;
                background-color: $orange1;
            }
        }
    }
    h2 {
        position: relative;
        display: block;
        font-size: 40px;
        font-family: 'made_tommymedium';
        margin-bottom: 15px;
    }
    p {
        position: relative;
        font-size: 15px;
        color: #666666;
        margin: 0px;
    }
}
@media (max-width: 767px) {
    .sec-title {
        h2 {
            font-size: 32px;
        }
    }
}
/*--- SECTION - Vision Mission ---*/ 
.sec-vision-mission {
    padding: 100px 0;
    &::before {
        position: absolute;
        content: "";
        background-color: $orange1;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        width: 40%;
    }
    .vm-img {
        img {
            max-width: 490px;
            width: 100%;
            border: 5px solid $white;
        }
    }
    .vm-list__item {
        display: flex;
        align-items: center;
        margin-top: 30px;
        .vm-item__ic {
            width: 70px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $orange3;
            margin: 10px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            box-shadow: 0 0 0 10px rgba(249, 160, 27, 0.2);
        }
        .vm-item__text {
            flex: 1%;
            margin-left: 30px;
            h4 {
                font-family: 'made_tommymedium';
                font-size: 17px;
                color: #000000;
                margin-bottom: 10px;
                line-height: normal;
            }
            p {
                font-size: 15px;
                color: #666666;
                margin-bottom: 0;
            }
        }
    }
}
@media (max-width: 991px) {
    .sec-vision-mission {
        padding: 50px 0;
        &::before {
            bottom: auto;
            left: 0;
            width: 100%;
            height: 30%;
        }
        .vm-img {
            text-align: center;
            margin-bottom: 30px;
        }
    }
}
@media (max-width: 767px) {
    .sec-vision-mission .vm-list__item {
        .vm-item__text {
            margin-left: 15px;
        }
    }
}
/*--- SECTION - About ---*/ 
.sec-about {
    display: flex;
    background-color: $gray1;
    .about-img {
        width: 45%;
        
        img {
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .about-text {
        padding: 100px;
        flex: 1%;
        display: flex;
        align-items: center;
        .btn-primary__ic {
            margin-top: 40px;
        }
    }
}
@media (min-width: 1441px) {
    .sec-about .about-img {
        max-height: 515px;
    }
}
@media (max-width: 1199px) {
    .sec-about {
        .about-text {
            padding: 100px 50px;
        }
    }
}
@media (max-width: 991px) {
    .sec-about {
        display: block;
        .about-img {
            width: 100%;
        }
        .about-text {
            padding: 50px 15px;
            max-width: 720px;
            margin: 0 auto;
            .btn-primary__ic {
                margin-top: 30px;
            }
        }
    }
}
@media (max-width: 767px) and (min-width: 576px) {
    .sec-about {
        .about-text {
            max-width: 540px;
        }
    }
}