/*--fonts---*/ 
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&display=swap');
// bold
@font-face {
    font-family: 'made_tommybold';
    src: url('../fonts/madetommy_bold-webfont.woff2') format('woff2'),
         url('../fonts/madetommy_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// medium
@font-face {
    font-family: 'made_tommymedium';
    src: url('../fonts/madetommy_medium-webfont.woff2') format('woff2'),
         url('../fonts/madetommy_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// regular
@font-face {
    font-family: 'made_tommyregular';
    src: url('../fonts/madetommy_regular-webfont.woff2') format('woff2'),
         url('../fonts/madetommy_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// light
@font-face {
    font-family: 'made_tommylight';
    src: url('../fonts/madetommy_light-webfont.woff2') format('woff2'),
         url('../fonts/madetommy_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*
    font-family: 'made_tommybold';
    font-family: 'made_tommymedium';
    font-family: 'made_tommyregular';
    font-family: 'made_tommylight';
    font-family: 'Arimo', sans-serif;
*/ 

// colors
$orange1: #F15D2A;
$orange2: #F27921;
$orange3: #F9A01B;
$white: #FFFFFF;
$gray1: #EEEEEF;

body {
    font-family: 'made_tommyregular';
    font-size: 15px;
    position: relative;
    color: #222222;
}
.container {
    position: relative;
}
a {    
    text-decoration: none;
    color: #333333;
}
a,
button {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:focus,
    &:visited,
    &:active {
        outline: none;
        box-shadow: none;
    }
}
/*---  ---*/ 
ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.btn {
    font-size: 14px;
    font-family: 'made_tommyregular';
    color: #333333;
    &:focus {
        outline: none;
        box-shadow: none;
    }
    &.btn-filter {
        filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.1));
    }
    &.btn-primary__ic {
        background-color: #F2F2F2;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        padding: 4px;
        display: flex;
        align-items: center;
        width: 180px;
        >span {
            flex: 1%;
            display: block;
            text-align: center;
            padding-right: 5px;
        }
        .btn-icon {
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            height: 38px;
            width: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $orange2;
            color: $white;
        }
    }
}
/*--- HEADER ---*/ 
header {
    /*--- /Top Header/ ---*/ 
    .header-top {
        position: relative;
        padding: 10px 0;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 65%;
            background-color: $orange1;
        }
        .top-left,
        .top-right .social-links {
            display: flex;
            align-items: center;
            li {
                position: relative;
                margin-left: 30px;
                &:first-child {
                    margin-left: 0;
                }
                a {
                    padding: 6px 0;
                    line-height: normal;
                }
            }
        }
        .top-left {
            li a {
                display:  block;
                color: $white;
                &:hover {
                    color: #333333;
                }
            }
        }
        .top-right {
            .social-links {
                li {
                    color: #333333;
                    &::before {
                        position: absolute;
                        content: '';
                        background: #c1d0e1;
                        width: 1px;
                        height: 22px;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        right: -15px;
                    }
                    &:last-child::before {
                        display: none;
                    }
                    a {
                        display: block;
                        color: #333333;
                        width: 20px;
                        text-align: center;
                        &:hover {
                            color: $orange1;
                        }
                    }
                }
            }
        }
    }
    /*--- /Header Upper/ ---*/ 
    .header-upper {
        padding: 24px 0;
        background-color: $gray1;
    }
    .menu-area {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .mobile-nav-toggler {
            position: relative;
            float: right;
            font-size: 40px;
            line-height: 50px;
            cursor: pointer;
            color: #333333;
            display: none;
            .icon-bar {
                position: relative;
                height: 2px;
                width: 30px;
                display: block;
                margin-bottom: 5px;
                background-color: #333333;
                -webkit-transition: all 300ms ease;
                -moz-transition: all 300ms ease;
                -ms-transition: all 300ms ease;
                -o-transition: all 300ms ease;
                transition: all 300ms ease;
            }
        }
        .main-menu {
            float: left;
            .navigation {
                display: flex;
                align-items: center;
                li {
                    margin-right: 1.5rem;
                    a {
                        display: block;
                        color: #222222;
                        padding: 2px 8px;
                        position: relative;
                        &::before {
                            position: absolute;
                            content: '';
                            background: $orange1;
                            width: 50%;
                            height: 1px;
                            left: 0;
                            right: 0;
                            margin: auto;
                            bottom: 0;
                            transform: scale(0,0);
                            transition: all 500ms ease;
                        }
                    }
                    &.active a::before,
                    a:hover::before {
                        transform: scale(1,1);
                    }
                    &.active a,
                    a:hover {
                        color: $orange1;
                    }
                }
            }
        }
        .menu-right {
            position: relative;
            float: left;
            padding-left: 1.5rem;
            &::before {
                position: absolute;
                content: '';
                background: #C4C4C4;
                width: 1px;
                height: 50px;
                left: 0;
                top: 0px;
                bottom: 0;
                margin: auto;
            }
            .search-toggler {
                border: none;
                box-shadow: none;
                outline: none;
                font-size: 18px;
                color: #222222;
            }
        }
    }
}
@media (max-width: 991px) {
    header {
        .header-top::before {
            width: 50%;
        }
        .menu-area {
            display: inline-block;
            float: right;
            .mobile-nav-toggler {
                display: block;
                margin-top: 4px;
                margin-left: 20px;
            }
            .main-menu {
                display: none;
            }
            .menu-right {
                padding-left: 0;
                &::before {
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    header {
        .header-top {
            &::before {
                width: 100%;
                height: 50%;
                bottom: auto;
            }
            .top-left, 
            .top-right .social-links {
                justify-content: center;
            }
        }
    }
}
/*--- SECTION ---*/ 
section {
    display: block;
    position: relative;
}
.breadcrumb-line {
    position: relative;
    display: inline-block;
    font-size: 17px;
    font-family: 'made_tommymedium';
    color: #666666;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 10px;
    &::before,
    &.center::after {
        position: absolute;
        content: '';
        width: 45px;
        height: 5px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    &.right {
        padding-right: 55px;
        &::before {
            right: 0;
            background-color: $orange1;
        }
    }
    &.left {
        padding-left: 55px;
        &::before {
            left: 0;
            background-color: $orange1;
        }
    }
    &.center {
        padding: 0 55px;
        margin: 0 auto 10px auto;
        display: table;
        &::before {
            right: 0;
            background-color: $orange1;
        }
        &::after {
            left: 0;
            background-color: $orange1;
        }
    }
}
.sec-title {
    h2 {
        position: relative;
        display: block;
        font-size: 40px;
        font-family: 'made_tommymedium';
        margin-bottom: 15px;
    }
    p {
        position: relative;
        color: #666666;
        margin: 0px;
    }
}
@media (max-width: 767px) {
    .sec-title {
        h2 {
            font-size: 32px;
        }
    }
}
/*--- SECTION - Vision Mission ---*/ 
.sec-vision-mission {
    padding: 100px 0;
    &::before {
        position: absolute;
        content: "";
        background-color: $orange1;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        width: 40%;
    }
    .vm-img {
        img {
            max-width: 490px;
            width: 100%;
            border: 5px solid $white;
        }
    }
    .vm-list__item {
        display: flex;
        align-items: center;
        margin-top: 30px;
        .vm-item__ic {
            width: 70px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $orange3;
            margin: 10px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            box-shadow: 0 0 0 10px rgba(249, 160, 27, 0.2);
        }
        .vm-item__text {
            flex: 1%;
            margin-left: 30px;
            h4 {
                font-family: 'made_tommymedium';
                font-size: 17px;
                color: #000000;
                margin-bottom: 10px;
                line-height: normal;
            }
            p {
                color: #666666;
                margin-bottom: 0;
            }
        }
    }
}
@media (max-width: 991px) {
    .sec-vision-mission {
        padding: 50px 0;
        &::before {
            bottom: auto;
            left: 0;
            width: 100%;
            height: 30%;
        }
        .vm-img {
            text-align: center;
            margin-bottom: 30px;
        }
    }
}
@media (max-width: 767px) {
    .sec-vision-mission .vm-list__item {
        .vm-item__text {
            margin-left: 15px;
        }
    }
}
/*--- SECTION - About ---*/ 
.sec-about {
    display: flex;
    background-color: $gray1;
    .about-img {
        width: 45%;
        
        img {
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .about-text {
        padding: 100px;
        flex: 1%;
        display: flex;
        align-items: center;
        .btn-primary__ic {
            margin-top: 40px;
        }
    }
}
@media (min-width: 1441px) {
    .sec-about .about-img {
        max-height: 515px;
    }
}
@media (max-width: 1199px) {
    .sec-about {
        .about-text {
            padding: 100px 50px;
        }
    }
}
@media (max-width: 991px) {
    .sec-about {
        display: block;
        .about-img {
            width: 100%;
        }
        .about-text {
            padding: 50px 15px;
            max-width: 720px;
            margin: 0 auto;
            .btn-primary__ic {
                margin-top: 30px;
            }
        }
    }
}
@media (max-width: 767px) and (min-width: 576px) {
    .sec-about {
        .about-text {
            max-width: 540px;
        }
    }
}
/*--- SECTION - Products ---*/ 
.sec-product {
    padding: 100px 0;
    .btn-primary__ic {
        margin-left: auto;
        margin-bottom: 20px;
    }
}
@media (max-width: 991px) {
    .sec-product {
        padding: 50px 0;
    }
}
@media (max-width: 767px) {
    .sec-product {
        .btn-primary__ic {
            margin-left: 0;
            margin-bottom: 0;
        }
    }
}
/*--- SECTION - Support ---*/ 
.sec-support {
    .sec-support__top {
        position: relative;
        .support-img-top {
            position: relative;
            display: block;
            img {
                display: inline-block;
                max-width: 100%;
                width: 100%;
                height: 100%;
                transition-delay: .1s;
                transition-timing-function: ease-in-out;
                transition-duration: .7s;
                transition-property: all;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    .sec-support__bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $orange1;
        padding: 70px 0;
        .sec-title {
            .breadcrumb-line,
            h2,
            p {
                color: $white;
            }
            .breadcrumb-line::before {
                background-color: rgba(255, 255, 255, .3);
            }
        }
    }
    .support-form {
        max-width: 410px;
        .sec-title {
            margin-bottom: 50px;
        }
        .form-control {
            font-size: 15px;
            font-family: 'made_tommyregular';
            color: $white;
            background-color: transparent;
            padding: 12px 0;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid rgba(255, 255, 255, .5);
            margin-bottom: 30px;
            &:focus,
            &:focus-within {
                outline: none;
                box-shadow: none;
                border-bottom: 1px solid $white;
            }
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $white;
            opacity: 1; /* Firefox */
            }
            
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $white;
            }
            
            &::-ms-input-placeholder { /* Microsoft Edge */
            color: $white;
            }
        }
        textarea.form-control {
            background-color: rgba(255, 255, 255, .1);
            padding: 12px 24px;
            min-height: 170px;
            resize: none;
        }
    }
    .support-number {
        background-color: $orange3;
        padding: 60px 0;
        display: flex;
        align-items: center;
        svg {
            font-size: 50px;
            color: $white;
            margin-bottom: 20px;
        }
        h2 {
            font-size: 45px;
            font-family: 'made_tommybold';
            color: $white;
            margin-bottom: 0px;
        }
        a {
            color: $white;
        }
    }
}
@media (min-width: 1200px) {
    .sec-support {
        .sec-support__bottom {
            justify-content: end;
            .support-form {
                margin-right: 100px;
            }
        }
    }
}
@media (min-width: 992px) {
    .sec-support {
        .sec-support__top,
        .sec-support__bottom {
            flex: 1%;
        }
        .sec-support__top {
            .support-img-top {
                height: 65%;
            }
            .support-number {
                height: 35%;
                padding: 60px;
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .sec-support .sec-support__top {
        display: flex;
        .support-img-top,
        .support-number {
            flex: 1%;
            justify-content: center;
        }
    }
}
@media (max-width: 767px) {
    .sec-support {
        .sec-support__bottom {
            padding: 50px 0;
        }
        .support-number {
            padding: 50px 0;
            justify-content: center;
            h2 {
                font-size: 35px;
            }
        }
        .support-form {
            padding: 0 15px;
        }
    }
}
/*--- FOOTER ---*/ 
.sec-footer__top {
    position: relative;
    padding: 62px 0;
    font-family: 'made_tommybold';
    font-size: 45px;
    color: $white;
    text-align: center;
    background-image: url(../img/footer_bg.png);
    background-size: cover;
}
footer {
    background-color: $gray1;
    position: relative;
    &::before {
        background-image: url(../img/logo-footer.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 686px;
        z-index: 0;
    }
    .footer-top {
        padding: 100px 0;
        .breadcrumb-line {
            color: #333333;
            font-family: 'made_tommybold';
            text-transform: unset;
            margin-bottom: 20px;
        }
    }
    .footer-widget {
        .footer-logo {
            margin-bottom: 25px;
            display: block;
            img {
                max-width: 100%;
            }
        }
        p {
            margin-bottom: 10px;
            color: #555555;
        }
        ul {
            li {
                margin-top: 10px;
                color: #555555;
                &:first-child {
                    margin-top: 0;
                }
                a {
                    color: #555555;
                    &:hover {
                        color: $orange1;
                    }
                }
                svg {
                    font-size: 16px;
                    width: 20px !important;
                    text-align: center;
                    margin-right: 5px;
                    vertical-align: middle;
                    color: $orange2;
                }
            }
        }
        form {
            margin-top: 16px;
        }
        .form-group {
            position: relative;
            margin-top: 10px;
            &:first-child {
                margin-top: 0;
            }
            > svg {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                right: 20px;
                font-size: 16px;
                color: $orange2;
                z-index: 1;
            }
            input {
                position: relative;
                width: 100%;
                height: 45px;
                font-size: 14px;
                color: #333333;
                border: 1px solid #DEDEDE;
                padding: 10px 50px 10px 20px;
                background: $gray1;
                transition: all 500ms ease;
                &:focus {
                    border-color: $orange1 !important;
                    box-shadow: none;
                    outline: none;
                }
            }
        }
    }
    .footer-bottom {
        padding: 34px 0;
        border-top: 1px solid #DEDEDE;
        position: relative;
        span {
            display: block;
            text-align: center;
            font-family: 'Arimo', sans-serif;
        }
    }
}
@media (max-width: 991px) {
    footer {
        &::before {
            width: 580px;
        }
        .footer-top {
            padding: 35px 0;
            .footer-column {
                margin: 15px 0;
            }
        }
    }
}
@media (max-width: 767px) {
    .sec-footer__top {
        font-size: 30px;
    }
    footer::before {
        display: none;
    }
}
/*--- BREADCRUMB PAGE ---*/ 
.breadcrumb {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    li {
        position: relative;
        padding-right: 12px;
        margin-right: 5px;
        color: $white;
        &::before {
            position: absolute;
            content: '-';
            color: $white;
            font-size: 15px;
            top: 0;
            bottom: 0;
            margin: 0;
            right: 0;
        }
        &:last-child {
            padding-right: 0;
            margin-right: 0;
            &::before {
                display: none;
            }
        }
        a {
            display: block;
            color: $white;
        }
    }
}
/*--- SECTION ---*/ 
section {
    &.page-title {
        background-image: url(../img/bg_title.jpg);
        background-size: cover;
        background-position: center;
        padding: 85px 0;
        h1 {
            font-size: 60px;
            text-align: center;
            font-family: 'made_tommymedium';
            color: $white;
            margin-bottom: 10px;
        }
    }
    &.section-page {
        padding: 100px 0;
        position: relative;
    }
}
@media (max-width: 991px) {
    section {
        &.page-title {
            h1 {
                font-size: 40px;
            }
        }
        &.section-page {
            padding: 50px 0;
        }
    }
}
/*--- SECTION - Products Page ---*/ 
.product-detail {
    margin-bottom: 40px;
    h1 {
        font-size: 45px;
        color: #000000;
        font-family: 'made_tommymedium';
        margin-bottom: 25px;
    }
    h5 {
        font-family: 'made_tommymedium';
        color: #333333;
        font-size: 15px;
        margin-bottom: 8px;
        line-height: normal;
    }
    p {
        color: #777777;
        line-height: 1.5em;
        margin-bottom: 20px;
        span {
            color: #333333;
            display: block;
        }
    }
}
.product-list {
    margin: -16px -8px;
    li {
        float: left;
        width: 33.33%;
        padding: 16px 8px;
    }
    .product-list__item {
        border: 1px solid #DEDEDE;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(51,51,51,0);
        -moz-box-shadow: 0px 0px 10px 0px rgba(51,51,51,0);
        box-shadow: 0px 0px 10px 0px rgba(51,51,51,0);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        &:hover {
            -webkit-box-shadow: 0px 0px 10px 0px rgba(51,51,51,0.2);
            -moz-box-shadow: 0px 0px 10px 0px rgba(51,51,51,0.2);
            box-shadow: 0px 0px 10px 0px rgba(51,51,51,0.2);
        }
    }
    .product__img {
        width: 100.5%;
        height: 193px;
        margin: -1px;
        display: block;
        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }
    .product__title {
        padding: 30px 20px;
        background-color: $white;
        text-align: center;
        h3 {
            font-family: 'made_tommymedium';
            font-size: 17px;
            color: #000000;
            margin-bottom: 0;
            line-height: normal;
            a {
                display: inline-block;
                color: #000000;
                &:hover {
                    color: $orange1;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .product-list {
        li {
            width: 50%;
        }
    }
}
@media (max-width: 575px) {
    .product-list {
        li {
            width: 100%;
            float: none;
        }
    }
}
.product-sidebar {
    margin-bottom: 40px;
    .product-sidebar__title {
        position: relative;
        background-color: $gray1;
        padding: 20px 30px;
        font-size: 17px;
        font-family: 'made_tommymedium';
        &::after {
            content: "";
            background-color: $orange1;
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 140px;
            height: 5px;
        }
    }
    &__list {
        padding-top: 18px;
        padding-bottom: 35px;
        border: 1px solid #DEDEDE;
        border-top: none;
        li {
            position: relative;
            margin-bottom: 5px;
            &::before {
                position: absolute;
                content: "";
                background-color: $orange1;
                top: 0;
                bottom: 0;
                width: 5px;
                left: -1px;
                opacity: 0;
            }
            a {
                color: #222222;
                padding: 10px 30px;
                line-height: 1.3em;
                display: flex;
                justify-content: space-between;
                align-items: center;
                svg {
                    font-size: 13px;
                }
            }
            &.dropdown {
                a::after {
                    display: none;
                }
                &.active {
                    a svg {
                        transform: rotate(180deg);
                    }
                }
            }
            &.active a,
            a:hover {
                color: $orange1;
                font-family: 'made_tommymedium';
            }
            &.active {
                &::before {
                    opacity: 1;
                }
            }
        }
    }
}
.sec-product-detail {
    .product-image {
        display: block;
        width: 100%;
        max-width: 500px;
        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .product-detail {
        max-width: 600px;
        margin: 0 auto;
    }
}
/*--- SECTION - Related Product ---*/ 
.sec-related {
    background-color: $gray1;
    padding: 100px 0;
    .product-list {
        margin-top: 20px;
        li {
            width: 25%;
        }
    }
}
@media (max-width: 991px) {
    .sec-related {
        padding: 50px 0;
    }
}
/*--- SECTION - CAREER Page ---*/ 
.career-item {
    margin-top: 20px;
    padding: 50px;
    background-color: #FAFAFA;
}
.career-date {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    svg {
        color: $orange1;
        margin-right: 10px;
    }
    span {
        color: #777777;
        font-size: 14px;
    }
}
.career-desc {
    margin-bottom: 30px;
    h1 {
        font-size: 30px;
        margin-bottom: 10px;
        line-height: 60px;
        font-family: 'made_tommymedium';
    }
    p {
        color: #666666;
        line-height: 1.5em;
        margin-bottom: 0;
    }
}
.sidebar-career {
    &__item {
        margin-bottom: 50px;
    }
    .search-sidebar {
        .form-group {
            position: relative;
            margin-bottom: 40px;
            &:first-child {
                margin-top: 0;
            }
            > svg {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                right: 20px;
                font-size: 16px;
                color: #333333;
                z-index: 1;
            }
            input {
                position: relative;
                width: 100%;
                height: 45px;
                font-size: 14px;
                color: #333333;
                border: 1px solid #DEDEDE;
                padding: 10px 50px 10px 20px;
                transition: all 500ms ease;
                &:focus {
                    border-color: $orange1 !important;
                    box-shadow: none;
                    outline: none;
                }
            }
        }
    }
    .sidebar-career__list {
        margin-bottom: 20px;
        li {
            display: flex;
            padding: 25px 0;
            border-bottom: 1px solid #DEDEDE;
            .img-left {
                width: 80px;
                height: 80px;
                margin-right: 20px;
                img {
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                }
            }
            .desc-right {
                flex: 1%;
                h5 {
                    font-size: 17px;
                    font-family: 'made_tommymedium';
                    margin-bottom: 8px;
                    a {
                        color: #222222;
                    }
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .career-item {
        padding: 25px;
    }
}